.header
{
    text-align: center;
}
.theme
{
 color: blue;
}
.subtittle
{
    color: red;
}
body{
    background-color:blanchedalmond;
}
#opacity{
    text-align: center;
    width: 20%;
    padding: 20px;
    background-color: aquamarine;
    opacity: 0.5;
}
#backimg
{
    background-image: url(https://plus.unsplash.com/premium_photo-1701842912302-501bfc88c403?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
}
#bordertext
{
    padding: 20px;
    border: 5px solid red;
    border-right-style: dotted;
    border-left-style: dotted;
    border-radius: 20px;
}
#boxsizingex{
    box-sizing: border-box;
    padding: 25px;
    width: 300px; 
    border: 1px solid black;
    background-color: aquamarine;
}
#padwidthex
{
    padding: 25px; 
    width: 300px;
    border: 1px solid black;
    background-color: aquamarine;
}
#padex
{
    padding: 25px;
    border: 1px solid black; 
    background-color: aquamarine;
}
#link1
{
    font-size: 30px;
}
#link1:link 
{ 
color: red;
text-decoration: none;
background-color: yellow;
}
#link1:visited
{
 color: green;
 text-decoration: none;
 background-color: cyan;
}
#link1:hover
{
    color: hotpink;
    text-decoration: underline;
    background-color: lightgreen;
}
#link1:active
{
color: blue;
text-decoration: underline;
background-color: hotpink;
}
#link2:link, #link2:visited
{
background-color: #f44336;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

#link2:hover, #link2:active
{
    background-color: red;
}
#list1
{
 list-style-type: square;
 list-style-position: inside;
}
#list1 li
{
 border: 1px solid black;
}

#list2
{
 list-style-type: upper-roman;
}
#l4{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#l5
{
    background: #ff9999;
    padding: 20px;
}
#l5 li
{
 padding: 5px;
 background: #ffe5e5;
 margin-left: 5px;
}
#list6
{
 margin: 0;
 padding: 10px;
 background: #3399ff;
}
#list6 li
{ 
    margin: 10px;
    background: #cce5ff;
}
#table1 th,#table1 td,#table1 th
{
 border: 1px solid black;
 text-align: left;
}
#table1{
border-collapse: collapse;
width: 50%;
}
#table1 td,#table1 th
{
 padding: 15px;
}
#table2
{
border-collapse: collapse;
width: 100%;

}
#table2 th, #table2 td
{
 padding: 8px;
 text-align: left;
 border-bottom: 1px solid black;
}
#table2 tr:hover
{
background-color: #f5f5f5;
}
#table2 tr:nth-child(even)
{
    background-color: #f2f2f2;
}
#table2 th
{
 background-color: #4CAF50;
 color: white;
}
#table3{
    border-collapse: collapse;
    width: 100%;
}
#table3 th, #table3 td
{
 padding: 8px;
 text-align: left;
 
}
#table3 tr:nth-child(even)
{
    background-color: #f2f2f2;
}
#rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }
  
  #rcorners2 {
    border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }
  
  #rcorners3 {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  } 
  
  #rcorners4 {
    border-radius: 15px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  } 
  #animation1
  {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  }
  @keyframes example {
    from {background-color: red;}
    to {background-color: pink;}
  }
  #animation2
  {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  }
  @keyframes example2 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  #animation3 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example3;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }
  @keyframes example3 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  #animation4 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example4;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  @keyframes example4 {
    from {top: 0px;}
    to {top: 200px; background-color: blue;}
  }  
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
  .button6 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button7:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn-group .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    float: left;
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }
  .button8 {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button8 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button8 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button8:hover span {
    padding-right: 25px;
  }

  .button8:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .button9 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
  }
  
  .button9:hover {background-color: #3e8e41}
  
  .button9:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }
  .pagination {
    display: inline-block;
  }
  .pagination a
  {
    border-radius: 5px;
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   transition: .3s;
  }
  .pagination a.active{
    background-color: #4CAF50;
    color: white;
  }
  .pagination a:hover:not(.active) {
    background-color: #75ca79;
    color: white;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }